<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" media="all" href="/styles/style.css">
<!--    <script type="text/javascript" src="scripts/jquery-1.12.4.min.js"></script>-->
<!--    <script type="text/javascript" src="scripts/bootstrap.min.js"></script>-->

</head>
<body>
<header class="navbar navbar-default navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand logo">留言板</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="http://www.psw.life">主页</a></li>
                #if ($user)
                <li><a>$!{user.name}</a></li>
                <li><a href="/logout">退出</a></li>
                #else
                <li class="js-login"><a href="javascript:void(0);">登录</a></li>
                #end
            </ul>
        </nav>
    </div>
</header>

<div id="main">
    <div class="container" id="daily">
        <div class="post">
            <div class="user-info">
                <div class="user-avatar">
                    #if ($user)
                    <a><img width="32" class="img-circle" src="$!{user.headUrl}"></a>
                    #else
                    <a><img width="32" class="img-circle" src="http://www.psw.life/imgCloud/img/defaultHead.png"></a>
                    #end
                </div>
            </div>
            #if ($user)
            <div class="subject-name"><a>$!{user.name}</a></div>
            #else
            <div class="subject-name"><a>未登录</a></div>
            #end
            <div class="content-main">
                <textarea id="inputMsg" placeholder="输入留言" style="display: block;border: 0px;margin: 0px;height: 85px;width: 600px;resize: none;" maxlength="255"></textarea>
            </div>
        </div>
        <a class="btn btn-addblog" href="javascript:void(0);">发布</a>
        <div class="daily">
        <div class="jscroll-inner">
                <div class="posts">
                    #foreach($vo in $vos)
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <a>
                                        <img src="$!{vo.author.headUrl}"
                                             style="width:100px;height:100px" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div>
                                        <a href="" style="font-size: 25px">
                                        $!{vo.author.name}
                                        </a>
                                    </div>
                                    <div class="grey-font">
                                        $!{vo.blog.createdDate}
                                            <a id="delete-blog" class="cursor-pointer grey-font">delete</a>
                                    </div>
                                    <div>
                                        $!{vo.blog.text}
                                    </div>
                                    <div>
                                        <a href="" style="font-size: 14px">
                                            #if ($vo.likestatus == 1)
                                            <a href="/dislike?blogId=$!{vo.blog.id}">已赞 ($!{vo.blog.likeCount})</a>
                                            #else
                                            <a href="/like?blogId=$!{vo.blog.id}">赞 ($!{vo.blog.likeCount})</a>
                                            #end
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="post">-->
<!--                        <div class="user-info">-->
<!--                            <div class="user-avatar">-->
<!--                                <a><img width="32" class="img-circle" src="$!{vo.author.headUrl}"></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="subject-name"><a>$!{vo.author.name}</a></div>-->
<!--                        <div class="content">-->
<!--                            <div class="content-main">-->
<!--                                <div class="meta">-->
<!--                                    $!{vo.blog.text}-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    #end
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/scripts/jquery.js"></script>
<script type="text/javascript" src="/scripts/main/base/base.js"></script>
<script type="text/javascript" src="/scripts/main/base/util.js"></script>
<script type="text/javascript" src="/scripts/main/base/event.js"></script>
<script type="text/javascript" src="/scripts/main/component/component.js"></script>
<script type="text/javascript" src="/scripts/main/component/popup.js"></script>
<script type="text/javascript" src="/scripts/main/component/popupLogin.js"></script>
<script type="text/javascript" src="/scripts/main/site/home.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
<script>
    var userId;
    userId = '$!{user.id}';
</script>
</body>
</html>